html {
    box-sizing: border-box;
    font-size: 0.90rem;
    height: 100%;
}

body {
    padding-top: 50px;
    position: relative;
    margin: 0;
    background-color: white;
}

header {
    padding: 1em 0 2em;
}

h3::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-image: linear-gradient(to left, #92c7d3, #71ed90, #4ff6ee);
    background-size: 120% 2px;
    position: relative;
}

.navbar-brand {
    display: inline-block;
    padding: 0.5em;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    font-family: Montserrat-Regular;
   
}

.navbar-nav {
    text-align: right;
    font-size: 17px;
    font-family: Montserrat-Regular;
}

#custom-navbar {
    background: black;
}

h2{
    font-family: Montserrat-Regular;
}
.project-details h2,h3,h4,h5{
    font-family: Montserrat-Regular;
}
.project-details h3 {
    margin: 0 0 0px;
    padding-bottom: 5px;
    position: relative;
}