html {
    box-sizing: border-box;
    font-size: 1.00rem;
    height: 100%;
}

body {
    padding-top: 50px;
    position: relative;
    margin: 0;
    background-color: white;
    font-family: Montserrat-Regular;
}

header {
    padding: 1em 0 2em;
}

h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-image: linear-gradient(to left, #92c7d3, #71ed90, #4ff6ee);
    background-size: 120% 2px;
    position: relative;
}

.navbar-brand {
    display: inline-block;
    padding: 0.5em;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
   
}

.navbar-nav {
    text-align: right;
    font-size: 17px;
}

#custom-navbar {
    background: black;
}


.project-details h3 {
    margin: 0 0 15px;
    padding-bottom: 5px;
    position: relative;
}